<div class="modal-title-inic mt-5">Dashoard Haros</div>
<div>
  <!-- <iframe
    width="100%"
    height="1200"
    src="https://app.powerbi.com/view?r=eyJrIjoiMTI1OWIyNWQtMmEyMS00ZTBlLTkyYjAtZDZlMmFmMjk1ODkyIiwidCI6ImZkOTdiNTZlLWIzODctNGM3Yy1iMjAyLWJjNDliMDNiNDk5MyJ9"
    frameborder="0"
  ></iframe> -->
  <iframe
  title="Haross General"
  width="1140"
  height="541.25"
  src="https://app.powerbi.com/reportEmbed?reportId=359b7b52-8c6b-4248-8943-df6c82b44489&autoAuth=true&ctid=fd97b56e-b387-4c7c-b202-bc49b03b4993"
  frameborder="0"
  allowFullScreen="true"
></iframe>

</div>




<!-- src="https://app.powerbi.com/view?r=eyJrIjoiYTNmMjRkOTYtMGNiYS00OTRlLWEyODEtYTJiZTY5YmYxMjM5IiwidCI6ImZkOTdiNTZlLWIzODctNGM3Yy1iMjAyLWJjNDliMDNiNDk5MyJ9" -->


<!-- <iframe
  title="Haross General"
  width="1140"
  height="541.25"
  src="https://app.powerbi.com/reportEmbed?reportId=359b7b52-8c6b-4248-8943-df6c82b44489&autoAuth=true&ctid=fd97b56e-b387-4c7c-b202-bc49b03b4993"
  frameborder="0"
  allowFullScreen="true"
></iframe> -->
